/* ===== GOOGLE BUTTON ===== */
.google-btn {
  width: 100%;
  background-color: white;
  border: 2px solid var(--green7);
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.google-btn img {
  height: 30px;
}

.google-btn span {
  color: var(--green7);
  font-size: 15px;
}

.google-btn:hover {
  background-color: var(--green9);
  transform: scale(1.02);
}
